*{
    margin: 0%;
    padding: 0%;
}

.container {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
      'aside main';
  }


main{
    grid-area:main ;
    margin-left: 40px;
}

main h3{
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
    top: 20px;
    bottom: 10px;
    justify-content: center;
}
.card{
    text-align: center;
    width: 200px;
    height: 300px;
}

.precios {
    grid-area: aside;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


  p {
    margin: 0;
  }

  input[type="text"],
  input[type="number"] {
    width: 150px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

#modelo{
    width: 100px;
    position: relative;
    left: 54px;
}

  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .precios .precios {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 3px;
  }

  .container2 p{
    text-align: center;
  }


